<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <meta charset="UTF-8">
  <title>About</title>
  <body>

<div class="container-fluid">
  	​​<div class="container">
  <div class="jumbotron">
    <h1 align="center">Events 2021</h1>  
<html>
	<head>
		<script>
		function disable() {
			document.getElementById("mySelect").disabled=true;
			}
		function enable() {
			document.getElementById("mySelect").disabled=false;
			}
		</script>
	</head>
	<body>

	<form>
	<select id="mySelect">
	  <option>Grad Oppurtunities 3/8/22</option>
	  <option>Su Party 25/8/21</option>
	  <option>Mystery Tour 22/9/22</option>
	  <option>Exams 19/10/22</option>
	  <option>Bank Holiday 30/10/22</option>
	  <option>Mental Health Day 21/12/22</option>
	  <option>Wellbeing 2/2/19</option>
	</select>
	<br><br>
		</form>
	</body>
</html>
  </div>
</div>
  <div class="row">
    <div class="col-sm-7" style="background-color:lavender;">
	<h2 style="color: #888888; ">The RaillyGram</h2>
<div class="container-fluid">
  <div class="row">
  
  
  
    <div class="col-sm-8" style="background-color:lavender;"><iframe width="300" height="250" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Tallaght&key=AIzaSyBdV7YjR4X3XOEbKVgSDIjOH7Viqn3mGrM" allowfullscreen></iframe></div>
    
	
	
	<div class="col-sm-4" style="background-color:#a6f5a6;"><h2>Official HQ Address</h2>The RaillyGram HQ, Dublin 24, Tallaght, Ireland Tel: +44 (0) 871 226 1888 *</div>
	<div class="col-sm-4" style="background-color:#a6f5a6;"><h2></h2></div>
	<div class="col-sm-4" style="background-color:#a6f5a6;"></div>
    <div class="col-sm-4" style="background-color:#a6f5a6;"><h2></h2></div>
  </div>
</div>
</div>
	

<div class="container-fluid" style="background-color:#a6f5a6;">
  <div class="col-sm-12" style="background-color:#a6f5a6;"><h2></h2></div>
  <h1 align="center">Tell us what you think!</h1>
  <h2 align="center"></h2>
  
</div>
<div class="container-fluid" style="background-color:#a6f5a6;">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <h3 style="color: #888888; ">Contact us and we'll get back to you within 24 hours.</h3>
      <p><span class="glyphicon glyphicon-map-marker"></span> Tallaght, Ireland</p>
      <p><span class="glyphicon glyphicon-phone"></span> Call a representative +01 151435735</p>
      <p><span class="glyphicon glyphicon-envelope"></span> raillygram@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
  </body>
</html>

